body, html {
	margin: 0;
	padding: 0;
	color: #000;
	background: #222;
	font: 14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

/* Form */
.formCenter {
	width: 300px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	border: double white;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #fff;
}

/* Layout */
#wrap {
	width: 1100px;
	margin: 0 auto;
	background: #333;
}

#footer {
	clear: both;
	background: #cc9;
}

#header {
	padding: 5px 10px;
	background: #333;
	color: #fff;
}

h1 {
	margin: 0;
}

#nav {
	float: right;
	width: 880px;
	background: #333;
}

#mainWrapper {
	float: right;
	width: 900px;
	background: #333;
}

#main {
	height: 100%;
	float: right;
	width: 880px;
	padding: 10px;
	background: #fff;
}

#main_log {
	float: right;
	width: 880px;
	padding: 10px;
	background: #fff;
}

.mainText {
	float: left;
}

h2 {
	margin: 0 0 1em;
}

#sidebar {
	float: left;
	width: 180px;
	padding: 10px;
	background: #333;
	min-height: 1000px;
	height: 100%;
}

#footer {
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}

#footer p {
	margin: 0;
}

* html #footer {
	height: 1px;
}

a.button {
	/* styles for button */
	margin: 10px auto 0 auto;
	text-align: center;
	display: block;
	width: 50px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1; /* button color */
	background-color: #e33100; /* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); /* text shaow */
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

a.button:hover {
	background-color: #c33100;
}

/* Links */
a.view {
	text-align: center;
	display: block;
	width: 50px;
	padding: 5px 10px 6px;
	color: #ccc;
	text-decoration: none;
	background: #333;
	font: 12px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

a.view:hover {
	color: #fff;
	background: #2580a2;
}

a.redView {
	text-align: center;
	display: block;
	width: 50px;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	background: #ff0000;
	font: 12px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

a.redView:hover {
	color: #fff;
	background: #961616;
}

a.greenView {
	text-align: center;
	display: block;
	width: 50px;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	background: #09ff07;
	font: 12px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

a.greenView:hover {
	color: #fff;
	background: #21a225;
}

/* Table */
table.gridtable {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #333333;
	border: 1px #666666;
	border-collapse: collapse;
}

table.gridtable th {
	padding: 4px;
	border: 1px solid #666666;
	background-color: #dedede;
}

table.gridtable td {
	padding: 4px;
	border: 1px solid #666666;
	background-color: #ffffff;
}

table.gridtablenoborder {
	font: 80% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #333333;
	border-collapse: collapse;
}

table.gridtablenoborder th {
	padding: 4px;
	background-color: #dedede;
}

table.gridtablenoborder td {
	padding: 4px;
	background-color: #ffffff;
}

/* Date Menu */
.dateMenu {
	list-style-type: none;
	height: 25px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
}

.dateMenu li {
	float: left;
	margin: 0;
	padding: 0;
	width: 75px;
}
